* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    min-width: 980px;
    min-height: 641px;
    font-size: small;
    font-family: arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link, #grid {
    opacity: .75;
}

#grid {
    background-image: url(../img/palette.png);
    background-size: 528px 68px;
    background-position: -132px -33px;
    width: 30px;
    height: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding-top:12px;
}

#header {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#header ul {
    float: right;
    min-width: 245px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
}

#header ul li {
    display: inline-block;
}

#signin {
    color: #fff;
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    line-height: 28px;
    padding: 0 12px;
    background: #4285f4;
    border-radius: 2px;
}

#main {
    padding-bottom: 27px;
    margin-top: 198px;
}

#logo {
    background: url(../img/logo.png) no-repeat;
    width: 272px;
    height: 92px;
    margin: 0 auto;
}

#country {
    position: relative;
    top: 76px;
    left: 215px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
}

#form {
    padding-bottom: 137px;
}

#form > form {
    width: 1139px;
    margin: 0 auto;
    padding: 0px 284px 0px 284px;
    line-height: 0;
    white-space: nowrap;
}

#querybar {
    width: 584px;
    padding: 5px 9px 0px 16px;
    background-color: #fff;
    height: 44px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#querybar:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#query {
    background: #FFF;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

#querybuttons {
    padding-top: 18px;
}

#querybuttons input {
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    -moz-border-radius: 2px;
    -moz-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}

#querybuttons input:hover {
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

#domaininfo {
    padding-top: 12px;
    line-height: 28px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #F2F2F2;
    border: 1px solid #E4E4E4;
    line-height: 40px;
    height: 41px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.footer-left li {
    margin-left: 30px;
}

.footer-right li {
    margin-right: 30px;
}

#footer li {
    display: inline-block;
}
